.title{
    font-weight: bold;
    font-style: italic;
}

/* The style of the table and its components. */

.tblMi{
    
    align-items: center;
    border-radius: 1px;
    border: solid 2px black;
    width: auto;
    margin: auto;
    background-color: white;
    border-bottom: solid;
}

td, th {
    border: 1px solid black;
    text-align: center;
    padding: 5px;
}
tr:nth-child(odd){
    background-color: grey;
}
.divSortButton{
    width: 300px;
    margin: 0% 45% 1%;

}
#sortButton{
    font-size: large;
    text-align: center;
    border: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: rgba(195,84,44,255);
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 0% 45% 1%;
}

.divWrapper{
    margin: 0% 45%;

}

.customBtn{
    /* using flexbox and the subproperty 
    to define the alognment along the main axis */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2px 16px;
    width: 150px;
    height: 50px;
    color:white;
    border: solid rgba(195,84,44,255);
    border-radius: 4px;
    background-color: rgba(195,84,44,255);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: 2px solid white;
    box-shadow: 0 0 0 0px white, 0 0 0 2px rgba(195,84,44,255); 
}

.smallDot{
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background: white;
    display: inline;
    position: relative;
}